<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>We hittin' that bucket</title>
</head>
<body>
<h1>Forum</h1>

{% if object_list %}
    {% for category in object_list %}
    <div>
        {{ category.name }}
    </div>
    {% endfor %}
{% else %}
    <div>There's no categories yet, but still I think we all deserve a PogChamp</div>
{% endif %}


</body>
</html>